@(username: String)(implicit request: RequestHeader, flash: Flash)
@main("Bachlet"){
    <input type="hidden" id="ws-route" value="@routes.WebSocketController.socket.webSocketURL()">
    <h3 id="user">Bonjour, @username</h3>
    <div class="form-inline">
    <input type="text" id="chat-input" size="40" class="form-control col-3">
    <button id="add-text" class="btn btn-primary m-2">Add Text Element</button>
    <button id="add-image" class="btn btn-primary m-2">Add Image Element</button>
    <button id="add-video" class="btn btn-primary m-2">Add Video Element</button>
    <a href="@routes.AuthController.logout()" class="btn btn-warning m-2">Logout</a>
    </div>
    <div id="root"></div>


    <script src="@routes.Assets.versioned("javascripts/draggable.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/websocket.js")"></script>
}
