@()(implicit request: RequestHeader, flash: Flash)

@main("Bachlet"){
    <input type="hidden" id="ws-route" value="@routes.WebSocketController.socket.webSocketURL()">
    <input type="text" id="chat-input" size="40">
    <button id="add-text">Add Text Element</button>
    <button id="get">Get</button>
    <button id="ask">Ask</button>
    <button id="nask">Nask</button>

    <br>
    <textarea id="chat-area" rows="5" cols="40"></textarea>
<div id="root"></div>


<script src="@routes.Assets.versioned("javascripts/draggable.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/websocket.js")"></script>

    
}