@(username: String)(implicit request: RequestHeader, flash: Flash)
@main("Bachlet"){
    <input type="hidden" id="ws-route" value="@routes.WebSocketController.socket.webSocketURL()">
    <p id="user">Bonjour @username</p>
    <input type="text" id="chat-input" size="40">
    <button id="add-text" class="btn btn-primary">Add Text Element</button>
    <button id="add-image" class="btn btn-primary">Add Image Element</button>
    <button id="add-video" class="btn btn-primary">Add Video Element</button>
    <div id="root"></div>


    <script src="@routes.Assets.versioned("javascripts/draggable.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/websocket.js")"></script>
}
